#theQuiz{
	display:none;
}

#correctArea{
	display:none;
}

#wrongArea{
	display:none;
}

[class*="col-"] {
    text-align: center;
}

#theQuoteBox{
	border: 5px solid black;
	border-radius: 25px;
	margin-top: 20px;
}

#buttonArea{
	margin-top: 20px;
	display:none;
}

#nextButtonArea{
	margin-top: 20px;
	display:none;
}

#yourScoreBox{
	margin-top: 20px;
	display:none;
}

#correctBox{
	border: 5px solid green;
	border-radius: 25px;
	margin-top: 20px;
}

#wrongBox{
	border: 5px solid red;
	border-radius: 25px;
	margin-top: 20px;
}
.headingBold{
	font-size: x-large;
}

#answerText{
	font-size: x-large;
}

